{{ define "Index" }}
<!DOCTYPE html>
  <html lang="en-US">
    <head>
        <title>trigger-response</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>trigger-response</h1>  
    <h2> A list of triggers </h2>
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Category</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .ID }}</td>
        <td> {{ .Name }} </td>
        <td>{{ .Category }} </td> 
      </tr>
    {{ end }}
       </tbody>
    </table>
  </body>
</html>
{{ end }}
